<mat-toolbar color="primary"> <a id="nav_trigger" (click)="toggleNav()"><mat-icon>{{buttonIcon}}</mat-icon></a>
<img src="../assets/img/logo/SmartFactorySlogan.png" alt="">
</mat-toolbar>

<nav #navbar class="navbarClose">
<ul>
  <li><a href=""><mat-icon class="nav_icon">view_quilt</mat-icon>Dashboard</a></li>
  <li><a href=""><mat-icon class="nav_icon">cast_connected</mat-icon>Zentrale</a></li>
  <li><a href=""><mat-icon class="nav_icon">games</mat-icon>Roboter</a></li>
  <li><a href=""><mat-icon class="nav_icon">rv_hookup</mat-icon>FTS</a></li>
</ul>
</nav>

<div #dashboard class="dashboardClose">
<linkit-root>

</linkit-root>
</div>
