@import "~@angular/material/theming";
@include mat-core();

$linkit-theme-primary: mat-palette($mat-light-blue);
$linkit-theme-accent: mat-palette($mat-light-green);
$linkit-theme-warn: mat-palette($mat-deep-orange);

$linkit-theme: mat-light-theme($linkit-theme-primary, $linkit-theme-accent, $linkit-theme-warn);

@include angular-material-theme($linkit-theme);
